.program-title {
    margin: 5em 0 0 10em;
}

.program-page-desc-teacher-list {
    display: flex;
    width: fit-content;
    margin: auto;
}

.desc-teacher {
    display: block;
    margin-left: 5em;
}

.desc-teacher .description {
    margin-bottom: 2em;
}

.course-list {
    margin-right: 5em;
}

.add-course-button button {
    margin: auto;
    margin-top: 0.5em;
    display: table;
}

.edit-prerequisite {
    margin-left: 10em;
}