.course-title {
    margin: 5em 0 0 10em;
}

.edit-course {
    margin-left: 38em;
    display: inline;
}

.view-grades {
    margin-left: 2em;
    display: inline;
}

.add-topic-button {
    margin-top: 2em;
}

.add-topic-button button {
    margin: auto;
    display:table;
}

.course-page h3 {
    margin-top: 0.5em;
}

.topics {
    display: flex;
    width: fit-content;
    margin: auto;
}

.desc-course {
    display: block;
    margin-left: 5em;
    margin-top: 2em;
}

.desc-teacher .description {
    margin-bottom: 2em;
}