.course-title {
    margin: 5em 0 0 10em;
}

.add-topic-button {
    margin-left: 54em;
}

.course-page h3 {
    margin-top: 0.5em;
}

.course-page-desc-teacher-list {
    display: flex;
    width: fit-content;
    margin: auto;
}

.desc-teacher {
    display: block;
    margin-left: 5em;
}

.desc-teacher .description {
    margin-bottom: 2em;
}