.topic-link {
    /* margin: 2em; */
    background-color: lightblue;
    padding: 2em;
    width: 50em;
    border: 1px solid lightblue;
    border-radius: 20px;
    margin: 2em 0 0 4em;
}

.topic-link span {
    margin-right: 1.5em;
}

.topic-link > a {
    text-decoration: none;
    color: black;
}

.topic-link > a:hover {
    color: blue;
}

.topic-link button {
    float: right;
}