.course-link {
    /* margin: 2em; */
    background-color: lightblue;
    padding: 2em;
    width: 50em;
    border: 1px solid lightblue;
    border-radius: 20px;
    margin: 2em 0 0 4em;
}

.course-link span {
    margin-right: 1.5em;
}
