.teacher-list table {
    width: 15em;
}

.teacher-list th {
    height: 1.5em;
    text-align: left;
    padding: 0.5em;
    background-color: lightblue;
    margin: 0;
}

.teacher-list td {
    padding: 0.5em;
    border: 1px solid black;
}

