.teacher-list table {
    width: 15em;
    border-collapse: separate !important;
}

.teacher-list th {
    height: 1.5em;
    text-align: left;
    padding: 0.5em;
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 12px 12px 0 0;
    margin: 0;
}

.teacher-list td {
    padding: 0.5em;
    border: 1px solid lightgray;
}

.teacher-list td span {
    color: gray;
}

.teacher-list tr:last-child td {
    border-radius: 0 0 12px 12px;
}

.add-teacher button {
    margin: auto;
    margin-top: 0.5em;
    display: table;
}